[Desktop Entry]
Name=Clash GNOME
GenericName=Proxy Manager
Comment=A modern GNOME frontend for mihomo (Clash Meta)
Exec=clash-gnome %U
Icon=io.github.langya.ClashGNOME
Terminal=false
Type=Application
Categories=Network;GTK;
Keywords=proxy;clash;mihomo;vpn;
StartupNotify=true
StartupWMClass=io.github.langya.ClashGNOME
